.consultation {
    @include adaptiveValue("padding-top", 60, 30);
    @include adaptiveValue("padding-bottom", 45, 30);

    &__container {
    }

    &__title {
    }

    &__subtitle {
        @include adaptiveValue("margin-bottom", 60, 30);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        @media (max-width: em(700)) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        width: 410px;
        padding: 0 5px;
        @media (max-width: em(700)) {
            //   width: 300px;
            margin-bottom: 30px;
        }
    }

    &__image {
        margin: 0px auto 30px auto;
        img {
            max-width: 100%;
        }
    }
    &__enrol {
        text-align: center;
    }
    &__link {
        padding: 15px 136px;
        @media (max-width: em(420)){
              width: 100%;
        }
    }
}
.item-consultation {
    text-align: center;
    &__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 18, 1920, 768);
        line-height: 29px;
        margin-bottom: 20px;
    }

    &__text {
        line-height: 22px;
    }
}
